@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url() no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.section-main h1{
  color: rgba(255, 255, 255, 0.5);
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.6s;
}

header.sticky {
  background-color: rgba(25, 26, 27, 0.5);
  padding: 15px 100px;
}

header .brand {
  font-family: Lexend;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}

header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header .menu a{
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover{
  color: #ffffff;;
  background: #207dfe;
}

header .btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

header .btn:hover {
  color: #207dfe;
}

.section-two {
  min-height: 100vh;
  background: #0010108;
  padding: 20px 100px;
}

.section-two h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
}

.section-two p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin: 30px 0;
}

@media (max-width: 1060px) {
  header .btn{
    display: block;
  }

  header .menu {
    position: fixed;
    background: #181a1b;
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
  }

  header .menu.active{
    right: 0;
  }

  header .menu .close-btn{
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    transition: color 0.2s;
  }

  header .menu .close-btn:hover {
    color:#207dfe;  
  }

  header .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}

@media (max-width: 630px){
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
}
      