body {
    background-color: #000000;
    background: linear-gradient(-45deg, #161616, #2c2f31, #646464, #2c2f31);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}